:root {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

::selection {
    background-color: white;
    color: #1f1f1f;
}

::-moz-selection {
    background-color: white;
    color: #1f1f1f;
}

body {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    scrollbar-gutter: stable;
    font-family: ComicMono;

    /* Center everything */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--links);
}

a:hover {
    color: var(--links-hover);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 80%;
}

.secret {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.show-again {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #1f1f1f;
    padding: 8px 14px;
    font-size: 12px;
    cursor: pointer;
}

.show-again:hover {
    background-color: #2f2f2f;
    border: 1px solid #fff;
}

.terminal-wrapper {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.terminal {
    background-color: #090909;
    color: white;
    font-size: medium;
    border: 1px solid #fff;
    box-shadow: 0 0 10px gray;
}

.terminal .content {
    padding: 0 10px 10px;
}

#show-terminal:checked ~ .terminal {
    visibility: hidden;
}

#show-terminal:checked ~ .secret {
    display: block;

}

#show-terminal {
    display: none;
}

.terminal pre {
    color: white;
    font-size: medium;
    font-family: ComicMono;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.terminal ::-moz-selection {
    background: #fff;
    color: #1f1f1f;
}

.terminal ::selection {
    background: #fff;
    color: #1f1f1f;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-image-separate {
    height: auto;
    max-width: 220px;
    margin-right: 1rem;
    object-fit: cover;
}

.text-content {
    flex: 1;
    overflow-wrap: break-word;
}

.about-image-inline {
    display: none;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    max-width: 200px;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #fff;
}

.about-image-inline img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    margin-bottom: -4px;
}

.about-image-topbar {
    /* float above the image */
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px 2px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image-topbar span {
    color: #b5b5b5;
    font-size: 0.8em;
}

.about-image-topbar .close {
    position: absolute;
    display: flex;
    margin-top: 21px;
    margin-right: 5px;
}

.about-image-topbar .close:hover {
    border: 1px solid white;
    margin-top: 20px;
    margin-right: 4px;
}

@media (max-width: 20000px) {
    .about-image-separate {
        display: none;
    }

    .about-image-inline {
        display: block;
    }

    #showImage:checked ~ .about-image-inline {
        display: none;
    }

}

#blinking_cursor::after {
    /* Blinking square */
    animation: typing 1.5s steps(1, end) infinite;
    content: "\a0";
    background-color: #fff;
}

@keyframes typing {
    50% {
        visibility: visible;
    }
}



@keyframes bounce {
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-30%);
    }
    96% {
        transform: translateY(0%);
    }
    97% {
        transform: translateY(-15%);
    }
    98% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-7%);
    }
    100% {
        transform: translateY(0);
    }
}


.terminal ::-webkit-scrollbar {
    width: 10px;
}

.terminal ::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.terminal ::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Make it so when you double click a command, it only selects the command and not the prefix */
.terminal .prefix {
    user-select: none;
}

table {
    font-size: 0.8em;
    display: flex;
}

table td a {
    color: var(--links) !important;
}

table td a:hover {
    color: var(--links-hover) !important;
}

table td img {
    padding-right: 0.5em;
    vertical-align: middle;
    width: 19px;
}

#badges {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    margin-top: 1em;
    text-align: center;
    display: flex;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    font-family: serif; /* this somehow fixes spacing issues in freakmode */
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#badges img {
    display: inline-flex;
    width: 88px;
    height: 31px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#badges img:hover {
    filter: brightness(1.1);
    border: 1px solid #fff;
    margin: -1px;
}

#alternativePgpCommand {
    display: none;
}

section {
    margin-bottom: 1em;
}

.nomargin {
    margin: 0;
}

.shortServername {
    display: none;
}

@media (max-width: 734px) {
    #welcome {
        display: none;
    }
}

@media (max-width: 1100px) {
    #downloadPgpText {
        display: none;
    }
}

@media (max-width: 627px) {
    /* Replace the curl command with the alternative command */
    #curlPgpCommand {
        display: none;
    }

    #alternativePgpCommand {
        display: inline;
    }
}

@media (max-width: 420px) {
    .servername {
        display: none;
    }

    .shortServername {
        display: inline;
    }
}

.topbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px 2px 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.topbar a {
    text-decoration: none;
}

.topbar a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .link-bar {
        display: none;
    }

    .wrapper {
        width: 100%;
        max-width: 100%;
    }
}

@keyframes cycle {
    0% {
        content: "welcome to my website.";
    }
    10% {
        content: "welcome to my website.";
    }
    20% {
        content: "welcome to my website..";
    }
    30% {
        content: "welcome to my website...";
    }
    40% {
        content: "welcome to my website... :";
    }
    50% {
        content: "welcome to my website... :3";
    }
    60% {
        content: "welcome to my website... :3";
    }
    70% {
        content: "welcome to my website... :";
    }
    80% {
        content: "welcome to my website...";
    }
    90% {
        content: "welcome to my website..";
    }
    100% {
        content: "welcome to my website.";
    }
}
.cycle::before {
    content: "";
    animation: cycle steps(10) 5s infinite;
}

.close {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #ff5f57;
    fill: #eff0f1;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.close::before, .close::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #eff0f1;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.close:hover {
    border: 1px solid white;
    margin: -1px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
body {
    margin: 0px;
  }
   
    a{
        font-family: ComicMono;
        text-decoration: none; 
        font-size: 15.5px;
    }

#youtube{
filter: grayscale(100%) invert(100%) brightness(150%);
}

#steam{
filter: grayscale(100%) invert(100%) brightness(150%);
}

#roblox{
filter: grayscale(100%) invert(100%) brightness(150%);
}

#matrix{
filter: grayscale(100%) invert(100%) brightness(150%);
}

#spotify{
    filter: grayscale(100%) invert(100%) brightness(150%);
    }

